<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>浸润深度自动测量平台</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">浸润深度自动测量平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/v0">主页</a></li>
            <li><a href="#">管理</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/v0">主页 <span class="sr-only">(current)</span></a></li>
            <li><a href="upload">导入图片</a></li>
            <li><a href="">图片详情</a></li>

          </ul>
        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">浸润深度自动测量平台</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 ">
              <a href="/v0/IMAGES/OriginalImages/{{name}}.png" target=_blank><img src="/v0/IMAGES/OriginalImages/{{name}}.png" width="600" height="600" class="img-thumbnail"></a>
              <h4>原图</h4>
              
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="/v0/IMAGES/SegmentedImages/{{name}}.png" target=_blank><img src="/v0/IMAGES/SegmentedImages/{{name}}.png" width="600" height="600" class="img-thumbnail"></a>
              <h4>自动分割</h4>
              
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="/v0/IMAGES/KeypointImages/{{name}}.png" target=_blank><img src="/v0/IMAGES/KeypointImages/{{name}}.png" width="600" height="600" class="img-thumbnail"></a>
              <h4>自动分割并标注关键点</h4>
              
            </div>

          </div>
          
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">{{name}}</h2>
            <h4>肿瘤浸润深度</h4>
            <h4>肿瘤阶段</h4>
            <h4>评价:
                {% csrf_token %}
              <form action="/v0/detail/{{image.name}}/" method="post" name="form_log" id="form_log">
                  
              <select name="history_stage" onchange="sortid(this.value);">
              <option value="UC" selected="selected">Select One</option>
              <option value="UC">Unconfirmed</option>
              <option value="AP">Accepted</option>
              <option value="UA">Unaccepted</option>
              <option value="CH">Checking</option>
              <option value="MO">Modifying</option>
            </select>
          </form>
          </h2>
        </div>
      </div>
    </div>
    <script  type = "text/javascript">
      
      function sortid(id){

      
      document.form_log.submit();
      }     
            
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
