<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示图片</title>
</head>

<h1>{{name}}</h1>
<h1>{{image_dir}}</h1>
<h1>/v0/{{image_dir}}</h1>

<body>
    {% load static %}
    <img src="{% static "/IMAGES/OriginalImages/_test.png" %}" width="600" height="600">
    <img src="/static/IMAGES/OriginalImages/{{name}}.png" width="600" height="600">
    <img src="/v0/{{image_dir}}" width="600" height="600">
    <img src="/v0/IMAGES/OriginalImages/{{name}}.png" width="600" height="600">
    <img src="{{MEDIA_URL}}/test.png" width="600" height="600">
</body>
</html>